button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 30px;
    border: none;
    border-radius: 6px;
    background:  var(--secondary-color);
    color: var(--text-btn);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background: linear-gradient(135deg, #ff6a06, #ff6600ee);

}

button:focus {
    outline: none;
}
