body {
    font-family: var(--font-family);
    font-size: 0.8rem;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
}


.labelSwitch {
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); /* Ajusta a centralização */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; 
    gap: 0.5rem; 
    cursor: pointer; 
}

.labelSwitch input {
    display: none; 
}

.labelSwitch i {
    font-size: 1.5rem; 
}

.labelSwitch i.fa-sun {
    order: 1;  
}

.labelSwitch i.fa-moon {
    order: 2; 
}

.switch-background {
    position: absolute;
    width: 55px;
    height: 10px;
    background-color:var(--switch-color);
    border-radius: 13px; 
    z-index: -1; 
}
