.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 8px;
    
}
.input-wrapper i {
    font-size: 16px; /* Ajuste o tamanho dos ícones conforme necessário */
}

.input-wrapper input {
    padding-right: 100px; 
}

.input-wrapper i.toggle-password {
    margin-left: 20px;
    cursor: pointer;
}

.input-wrapper .fas {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--icon-color); 
}

.input-wrapper .toggle-password {
    color: var(--text-input)
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* Espaço para o ícone à esquerda */
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;

}
.input-group {
    position: relative;
    margin-bottom: 1rem;
    min-height: 60px; /* Define a altura mínima */
}

input.error {
    border-color: #f44336;
}

/* Error Message Styles */
.error-message {
    position: absolute;
    color: #f44336;
    font-size: 0.8rem;
    left:0;
    font-size: 0.7rem;
    margin-bottom: 50px

    
}


input:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 3px #ff6600f5;
}

input.error {
    border-color: var(--error-color);
}
